<h2>Fehler 404</h2>

<p>Upsi, da wurde ein nicht existierender Wettbewerb angefragt.</p>

<p>+++ Mr. Jelly! Mr. Jelly! +++</p>
<p>+++ Error At Address: 14, Treacle Mine Road, Ankh-Morpork +++</p>
<p>+++ MELON MELON MELON +++</p>
<p>+++ Divide By Cucumber Error. Please Reinstall Universe And Reboot +++</p>
<p>+++ Whoops! Here Comes The Cheese! +++</p>
<p>+++ Oneoneoneoneoneoneone +++</p>

<p>(Hex in Terry Pratchett: Interesting Times)</p>

<button mat-flat-button color="primary" class="mb-2" (click)="gotoStart()">zur Startseite</button>