<div class="centered">
    <h1>Minikänguru in Bildern und Zahlen</h1>

</div>

<div class="centered">
    <img src={{imageSourceLogo}} alt="" aria-role="mathe-jung-alt-Logo" />
</div>

<div>

    <p>
        Diese Webanwendung visualisiert die Statistiken des <a
            href="https://mathe-jung-alt.de/minikaenguru">Minikänguru-Wettbewerb</a>.
    </p>
    <p>Aktuell befindet sich die Anwendung noch in der Entwicklung.</p>

    <p>Infos über diese Anwendung: <a href="https://mathe-jung-alt.de/mkbiza-api/about" target="_blank">About (ist
            JSON)</a>
    </p>

    <mkbiza-wettbewerbe></mkbiza-wettbewerbe>
</div>