<div *ngIf="lehrer$ | async as lehrer" class="mkv-container mt-1">
	<div class="col--12">
		<h2>Übersicht</h2>
	</div>

	<div *ngIf="aktuellerWettbewerb$ | async as wettbewerb">

		<h3>Beginn Anmeldezeitraum für {{wettbewerb.jahr}}:
			{{wettbewerb.wettbewerbsbeginn}}</h3>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div *ngIf="lehrer.teilnahmenummern.length !== 1" class="card clickable" (click)="gotoSchulen()">
					<div class="card-body">
						<div class="card-title">Meine Schulen <span
								class="ml-1 badge bg-success">{{lehrer.teilnahmenummern.length}}</span></div>
						<div class="mb-2 text-muted">Schulen verwalten</div>
						<div class="mb-2 text-muted">Wettbewerb auswerten</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div *ngIf="lehrer.teilnahmenummern.length === 1 && schule">
					<mkv-schule-card [schule]="schule"></mkv-schule-card>
				</div>
			</div>

			<div class="col">
				<div *ngIf="lehrer.teilnahmenummern.length < 2" class="card clickable" (click)="addSchule()">
					<div class="card-body">
						<div class="card-title">Weitere Schule</div>
						<div class="mb-2 text-muted">als Lehrer:in</div>
						<div class="text-muted">an einer weiteren Schule anmelden</div>
					</div>
				</div>

			</div>

			<div class="col">
				<div *ngIf="hatZugangZuUnterlagen">
					<mkv-unterlagen-card></mkv-unterlagen-card>
				</div>

			</div>

			<div class="col">

				<div class="card clickable" (click)="changeAboNewsletter()">
					<div class="card-body">
						<div *ngIf="lehrer.newsletterAbonniert">
							<div class="card-title">Newsletter <span class="ml-1 badge bg-success">abonniert</span>
							</div>
							<div class="mb-2 text-muted">Newsletter
								abbestellen</div>
						</div>
						<div *ngIf="!lehrer.newsletterAbonniert">
							<div class="card-title">Newsletter <span class="ml-1 badge bg-secondary">nicht
									abonniert</span></div>
							<div class="mb-2 text-muted">Newsletter
								abonnieren</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col">

				<div class="card clickable" (click)="gotoInfos()">
					<div class="card-body">
						<div class="card-title">Infos</div>
						<div class="mb-2 text-muted">Informationen über den Wettbewerb</div>
						<div *ngIf="!lehrer.hatZugangZuUnterlagen" class="mb-2 text-muted">Warum sehe ich die
							Wettbewerbsaufgaben
							nicht?</div>
					</div>
				</div>

			</div>

			<div class="col">

				<div class="card clickable" (click)="gotoProfil()">
					<div class="card-body">
						<div class="card-title">Mein Profil</div>
						<div class="mb-2 text-muted">Name, Mailadresse, Passwort ändern</div>
						<div class="mb-2 text-danger">Achtung: hierfür werden Sie ausgeloggt und auf eine andere
							Webseite
							umgeleitet.</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row m-2">
			<div *ngIf="textFeatureFlagAnzeigen" class="row ml-3 mr-3 mt-3 hinweis">
				<div class="col-11">
					<div class="mkv-bordered">{{textFeatureFlag}}</div>
				</div>
				<div class="col-1">
					<button type="button" class="btn btn-dark" data-placement="bottom" title="Hinweis schließen"
						(click)="toggleTextFeatureFlagAnzeigen()">
						<i class="fa fa-close" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
	</div>