<div *ngIf="wettbewerb else loading" class="row">
	<div class="col-12">
		<div class="card clickable clickabe-stacked" (click)="selectWettbewerb()">
			<div class="card-body">
				<div class="card-title">Minikänguru {{wettbewerb.jahr}}
				<span class="ml-1 badge badge-success">{{wettbewerb.status}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<p *ngIf="devMode">(wettbewerb-card.component: undefined = {{wettbewerbUndefined}})</p>

<ng-template #loading>
	Lade Wettbewerbe... <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
</ng-template>

