<mat-toolbar>

    @if (isHandset) {
    <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    } @else {
    <span class="nav-caption" routerLink="/startseite"><mat-icon>home</mat-icon>Startseite</span>

    <button id="menuWettbewerbe" mat-menu-item [matMenuTriggerFor]="menu">Wettbewerbe</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let id of menuIds" (click)="onMenuItemClick(id)">
            {{ id }}
        </button>
    </mat-menu>

    <span class="toolbar-spacer"></span>

    <a mat-button href="https://mathe-jung-alt.de/minikaenguru/index.html" target="_blank"
        matTooltip="Webseite des Minikänguru-Wettbewerbs">
        <span class="nav-caption">Minikänguru</span>
    </a>

    <a mat-button href="https://mathe-jung-alt.de/impressum.html" target="_blank">
        <span class="nav-caption">Impressum</span>
    </a>

    <span class="nav-caption">Version: {{version}}</span>
    }
</mat-toolbar>