<div *ngIf="(wettbewerb$ | async) as wettbewerb else loading" class="mkv-container mkv-bordered">
	<div *ngIf="wettbewerb" class="col-12">
		<h2>Minikänguru {{wettbewerb.jahr}} <span class="ml-1 badge badge-success">{{wettbewerb.status}}</span></h2>
		<p *ngIf="devMode">(wettbewerb-dashboard.component)</p>
		<p class="card-subtitle mb-2 text-muted">Beginn: {{wettbewerb.wettbewerbsbeginn}}</p>
		<p class="card-subtitle mb-2 text-muted">Ende: {{wettbewerb.wettbewerbsende}}</p>
		<p class="card-subtitle mb-2 text-muted">Freischaltung Lehrer: {{wettbewerb.datumFreischaltungLehrer}}
		</p>
		<p class="card-subtitle mb-2 text-muted">Freischaltung privat: {{wettbewerb.datumFreischaltungPrivat}}
		</p>
		<p class="card-subtitle mb-2 text-muted">Lösungsbuchstaben Inklusion: {{wettbewerb.loesungsbuchstabenIkids}}
		</p>
		<p class="card-subtitle mb-2 text-muted">Lösungsbuchstaben Klasse 1: {{wettbewerb.loesungsbuchstabenKlasse1}}
		</p>
		<p class="card-subtitle mb-2 text-muted">Lösungsbuchstaben Klasse 2: {{wettbewerb.loesungsbuchstabenKlasse2}}
		</p>

		<div class="row" *ngIf="wettbewerb.status !== 'BEENDET'">
			<div class="col-md-6 mt-4">
				<button class="btn btn-dark" (click)="editWettbewerb()"><i class="fa fa-pencil-square-o"
						aria-hidden="true"></i>bearbeiten</button>
			</div>
			<div class="col-md-6 mt-4">
				<button class="btn btn-dark" (click)="moveToNextStatus()"><i class="fa fa-forward"
						aria-hidden="true"></i>weiterleiern</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="card clickable ml-2 mr-1 mt-4">
				<div class="card-body">
					<div class="card-title">Gruppenübersicht</div>
					<div class="mb-2 text-muted">Länder mit Anzahl Anmeldungen...</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="card clickable ml-2 mr-2 mt-4">
				<div class="card-body">
					<div class="card-title">Statistik</div>
					<div class="mb-2 text-muted">Gesamtauswertung</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row mt-4">
	<div class="col-md-6 mt-4">
		<button class="btn btn-primary" (click)="backToWettbewerbe()"><i class="fa fa-arrow-left"
				aria-hidden="true"></i>Wettbewerbe</button>
	</div>
	<div class="col-md-6 mt-4">
		<button class="btn btn-primary" (click)="backToDashboard()"><i class="fa fa-arrow-left"
				aria-hidden="true"></i>Dashboard</button>
	</div>
</div>

<ng-template #loading>
	Lade Wettbewerb... <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
</ng-template>

