<div class="card mt-2">
	<div class="card-body">
		<div class="card-title">{{titel}}</div>
		<div class="card-text">
			<div class="row">
				<div class="card-subtitle text-muted col-sm-12 col-md-9">{{kind.klassenstufe.label}}</div>
				<div class="card-subtitle text-muted col-sm-12 col-md-9">Sprache: {{kind.sprache.label}}</div>
				<div *ngIf="veranstalter.hatZugangZuUnterlangen else loesungenBlockiert"
					class="card-subtitle text-muted col-sm-12 col-md-9">
					Können Lösungszettel erfassen</div>
			</div>
		</div>
		<div class="btn-group d-flex" role="group">
			<button class="btn btn-outline-secondary w-100 ml-1" (click)="editKind()"><i class="fa fa-pencil"
					aria-hidden="true"></i>ändern</button>

			<button  *ngIf="veranstalter.hatZugangZuUnterlangen" class="btn btn-outline-secondary w-100 ml-1" (click)="editLoesungszettel()"><i class="fa fa-bars"
					aria-hidden="true"></i>Lösungszettel</button>

			<button class="btn btn-outline-secondary w-100 ml-1"
				(click)="deleteKind()"><i class="fa fa-trash" aria-hidden="true"></i>löschen</button>
		</div>
	</div>
</div>

<ng-template #loesungenBlockiert>
	<div class="card-subtitle text-muted col-sm-12 col-md-9">
		Lösungen können noch nicht erfasst werden.</div>
</ng-template>
