<div class="card mt-2">
	<div class="card-body">
		<div class="card-title">{{titel}}</div>
		<div class="card-text">
			<div class="row">
				<div class="card-subtitle text-muted col-sm-12 col-md-9">{{kind.klassenstufe.label}}</div>
				<div class="card-subtitle text-muted col-sm-12 col-md-9">Sprache: {{kind.sprache.label}}</div>
				<div *ngIf="veranstalter.hatZugangZuUnterlangen" class="card-subtitle text-muted col-sm-12 col-md-9">
					Können Lösungszettel erfassen</div>
				<div *ngIf="!veranstalter.hatZugangZuUnterlangen" class="card-subtitle text-muted col-sm-12 col-md-9">
					Lösungen können noch nicht erfasst werden.</div>
			</div>
		</div>
	</div>
</div>
