<div class="row">
	<div class="col-12">
		<div class="card clickable clickabe-stacked" (click)="selectSchule()">
			<div class="card-body">
				<div class="card-title">{{schule.name}}
					<span *ngIf="devMode">({{schule.kuerzel}})</span>
					<span *ngIf="schule.aktuellAngemeldet" class="ml-1 badge badge-success">angemeldet für 2020</span>
				</div>
				<div class="card-subtitle mb-2 text-muted">{{schule.ort}}</div>
				<div class="card-subtitle mb-2 text-muted">
					{{schule.land}}</div>
			</div>
		</div>
	</div>
</div>
<p *ngIf="devMode">(schulen-card.component)</p>
