<div class="mkv-container mt-1">
	<div class="col-12">

		<p *ngIf="devMode">(upload-klassenlisten.component)</p>

		<ng-container *ngIf="schule !== undefined else loading">

			<h3>Klassenlisten hochladen</h3>

			<div class="row">
				<div class="col-sm-12 col-md-3">Schule:</div>
				<div class="col-sm-12 col-md-9">{{schule.name }}</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-3">Ort:</div>
				<div class="col-sm-12 col-md-9">{{schule.ort }}</div>
			</div>
			<div class="row" *ngIf="(klassenFacade.anzahlKlassen$ | async) as anzahl">
				<div class="col-sm-12 col-md-3">Anzahl Klassen:</div>
				<div class="col-sm-12 col-md-9">{{anzahl}}</div>
			</div>

			<div class="mkv-bordered w-100 m-1 p-1">

				<label for="switch-sprache" class="label-bold w-100"><strong> Sprache englisch:</strong></label>
				<div class="row">
					<div class="col-3">
						<mk-switch id="switch-sprache" (switchClicked)="onCheckboxSpracheClicked($event)"></mk-switch>
					</div>
					<div class="col-sm-12 col-md-8 mt-2" [innerHTML]="textSprache"></div>
				</div>

				<label for="switch-nachname" class="label-bold w-100 mt-3"><strong> Nachname als Zusatz:</strong></label>
				<div class="row">
					<div class="col-3">
						<mk-switch id="switch-nachname" (switchClicked)="onCheckboxNachnameVerbergenClicked($event)"></mk-switch>
					</div>
					<div class="col-sm-12 col-md-8 mt-2" [innerHTML]="textNachname"></div>
				</div>
				<small *ngIf="subUrl.length > 0">{{uploadModel.subUrl}}</small>

				<div class="row">
					<div class="col-12" *ngIf="subUrl.length > 0">
						<mk-upload [uploadModel]="uploadModel" (dateiAusgewaehlt)="onDateiAusgewaehlt()"
							(responsePayload)="onResponse($event)"></mk-upload>
					</div>
				</div>

				<div *ngIf="klassenFacade.klassenimportReport$ | async">
					<mkv-import-report></mkv-import-report>
				</div>
<!--
				<div *ngIf="fehlermeldungen$| async as fehlermeldungen">
					<p *ngIf="fehlermeldungen.length > 0">Es gab Fehler:</p>
					<div *ngFor="let fehler of fehlermeldungen; let indexOfelement=index;" class="col-12">
						{{indexOfelement+1}}: {{fehler}}</div>
				</div>
			-->
			</div>
			
	</ng-container>

	<div class="d-none d-md-block">
		<div class="btn-group d-flex" role="group">
			<button *ngIf="schule" class="btn btn-primary w-100 ml-1" title="zur Klassenliste" 
				(click)="gotoKlassen()">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>Klassenliste</button>

			<button *ngIf="schule" class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"
				title="{{tooltipBtnSchuluebersicht}}"><i class="fa fa-arrow-left"
					aria-hidden="true"></i>Schulübersicht</button>
		</div>
	</div>
	<div class="d-md-none d-lg-none d-xl-none">
		<div class="btn-group d-inline" role="group">

			<button *ngIf="schule" class="btn btn-primary w-100 ml-1"  title="zur Klassenliste"
				(click)="gotoKlassen()">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>Klassenliste</button>

			<button *ngIf="schule" class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"
				title="{{tooltipBtnSchuluebersicht}}"><i class="fa fa-arrow-left"
					aria-hidden="true"></i>Schulübersicht</button>

		</div>
	</div>
</div>

<ng-template #loading>
	<h3>Schule</h3>
	Lade Schule... <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
</ng-template>
