<div class="mkv-container mt-1">
	<div class="col-12">

		<p *ngIf="devMode">(upload-klassenlisten.component)</p>

		<ng-container *ngIf="schule !== undefined else loading">

			<h3>Klassenlisten hochladen</h3>

			<div class="row">
				<div class="col-sm-12 col-md-3">Schule:</div>
				<div class="col-sm-12 col-md-9">{{schule.name }}</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-3">Ort:</div>
				<div class="col-sm-12 col-md-9">{{schule.ort }}</div>
			</div>
			<div class="row" *ngIf="(klassenFacade.anzahlKlassen$ | async) as anzahl">
				<div class="col-sm-12 col-md-3">Anzahl Klassen:</div>
				<div class="col-sm-12 col-md-9">{{anzahl}}</div>
			</div>

			<div class="mkv-bordered w-100 m-1 p-1">

				<label for="switch-sprache" class="label-bold w-100"><strong> Sprache englisch:</strong></label>
				<div class="row">
					<div class="col-3">
						<mk-switch id="switch-sprache" (switchClicked)="onCheckboxSpracheClicked($event)"></mk-switch>
					</div>
					<div class="col-sm-12 col-md-8 mt-2" [innerHTML]="textSprache"></div>
				</div>

				<label for="switch-nachname" class="label-bold w-100 mt-3"><strong> Nachname als Zusatz:</strong></label>
				<div class="row">
					<div class="col-3">
						<mk-switch id="switch-nachname" (switchClicked)="onCheckboxNachnameVerbergenClicked($event)"></mk-switch>
					</div>
					<div class="col-sm-12 col-md-8 mt-2" [innerHTML]="textNachname"></div>
				</div>
				<small *ngIf="devMode && subUrl.length > 0">{{uploadModel.subUrl}}</small>

				<div class="row">
					<div *ngIf="subUrl.length > 0" class="w-100 ml-1">
						<mk-upload [uploadModel]="uploadModel" (dateiAusgewaehlt)="onDateiAusgewaehlt()"
							(responsePayload)="onResponse($event)"></mk-upload>
					</div>
					<button type="button" class="btn btn-outline-primary w-75 ml-4" title="Infos zum Inhalt der Datei" (click)="showInfoUploadFormat()">
						<i class="fa fa-info" aria-hidden="true"></i> Wie muss die Excel-Datei aussehen?
					</button>

				</div>

				<div *ngIf="klassenFacade.klassenimportReport$ | async">
					<mkv-import-report></mkv-import-report>
				</div>
			</div>
			
	</ng-container>

	<div class="d-none d-md-block">
		<div class="btn-group d-flex" role="group">
			<button *ngIf="schule" class="btn btn-primary w-100 ml-1" title="zur Klassenliste" 
				(click)="gotoKlassen()">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>Klassenliste</button>

			<button *ngIf="schule" class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"
				title="{{tooltipBtnSchuluebersicht}}"><i class="fa fa-arrow-left"
					aria-hidden="true"></i>Schulübersicht</button>
		</div>
	</div>
	<div class="d-md-none d-lg-none d-xl-none">
		<div class="btn-group d-inline" role="group">

			<button *ngIf="schule" class="btn btn-primary w-100 ml-1"  title="zur Klassenliste"
				(click)="gotoKlassen()">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>Klassenliste</button>

			<button *ngIf="schule" class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"
				title="{{tooltipBtnSchuluebersicht}}"><i class="fa fa-arrow-left"
					aria-hidden="true"></i>Schulübersicht</button>

		</div>
	</div>
</div>

<ng-template #loading>
	<h3>Schule</h3>
	Lade Schule... <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
</ng-template>

<ng-template #dialogUploadFormatInfo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Wie muss die Excel-Datei aussehen?</h4>
    </div>
    <div class="modal-body">
        <p>Die Excel-Datei darf nur aus <strong>einem</strong> Tabellenblatt bestehen, denn es wird nur das erste Tabellenblatt berücksichtigt.</p>
		<p>Das Tabellenblatt muss 4 Spalten haben.</p>
		<p>Die Spaltenüberschriften müssen wie folgt heißen (Reihenfolge ist beliebig): <strong>"Vorname"</strong>, <strong>"Nachname"</strong>, 
			<strong>"Klasse"</strong>, <strong>"Klassenstufe"</strong>.</p>
		<p>In die Spalte <strong>"Klassenstufe"</strong> tragen Sie bitte eine 0 für Inklusion, eine 1 für Klassestufe 1 und eine 2 für Klassenstufe 2 ein.</p>
		<p>In die Spalte <strong>"Klasse"</strong> tragen Sie bitte den Namen der Klasse ein, wie er auf den Urkunden erscheinen soll. Für verschiedene Klassennamen werden verschiedene Klassen generiert.</p>
		<p>Alle Spalten müssen vollständig gefüllt sein. Wenn der Nachname nicht auf der Urkunde erscheinen soll, wählen Sie bitte "Nachname als Zusatz" aus.</p>
		<p>Sie können auch mehrere Excel-Dateien nacheinander hochladen.</p>
		<p>Weitere Informationen mit Screenshots finden Sie auf der Minikänguru-Seite.</p>
	</div>
    <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('OK')">OK</button>
    </div>
</ng-template>
