<div class="d-none d-md-block">
    <div class="row text-muted">
        <div class="col-6">{{klassenstufe}} ({{median.anzahlLoesungszettel}} Lösungszettel)</div>
        <div class="col-6">Median = {{median.median}}</div>
    </div>
</div>

<div class="d-md-none d-lg-none d-xl-none">
    <div class="row text-muted">
        <div class="col-12">{{klassenstufe}}</div>
        <div class="col-12"> {{median.anzahlLoesungszettel}} Lösungszettel</div>
        <div class="col-12">Median = {{median.median}}</div>
    </div>
</div>


