<div class="mkv-container mt-1">
	<div class="col-12">
		<h2>Meine Schulen</h2>
		<p *ngIf="devMode">(schulen-list.component)</p>
		<ng-container *ngIf="(lehrerFacade.schulen$ | async) as schulen">
			<div class="col-md-12 mt-1 mb-1 mb-2" *ngFor="let schule of schulen">
				<mkv-schule-card [schule]="schule.schule"></mkv-schule-card>
			</div>
		</ng-container>
	</div>

	<div class="btn-group d-flex" role="group">

		<button class="btn btn-primary w-100 ml-1" (click)="addSchule()"><i class="fa fa-plus"
				aria-hidden="true"></i>weitere
			Schule</button>

		<button class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"><i class="fa fa-home"
				aria-hidden="true"></i>zur
			Übersicht</button>
	</div>

	<div *ngIf="textFeatureFlagAnzeigen" class="row ml-3 mr-3 hinweis">
		<div class="col-11">
			<div class="mkv-boardered">{{textFeatureFlag}}</div>
		</div>
		<div class="col-1">
			<button type="button" class="btn btn-dark" data-placement="bottom" title="Hinweis schließen"
				(click)="toggleTextFeatureFlagAnzeigen()">
				<i class="fa fa-close" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>
