<div class="row">
	<div class="col-12">
		<div class="card ">
			<div class="card-body col-12">
				<div class="card-title">{{teilnahme.identifier.jahr}}</div>
				<div class="row">
					<div class="card-subtitle text-muted col-sm-12 col-md-9">Anzahl Kinder: {{teilnahme.anzahlKinder}}
					</div>

					<div *ngIf="teilnahme.anzahlKinder > 0" class="col-sm-12 col-md-3">
						<button class="btn btn-block btn-primary" (click)="getStatistic()"
							title="Statistik erstellen">Statistik</button>
					</div>
					<div *ngIf="textFeatureFlagAnzeigen" class="row ml-3 mr-3 mt-3 hinweis">
						<div class="col-11">
							<div class="mkv-boardered">{{textFeatureFlag}}</div>
						</div>
						<div class="col-1">
							<button type="button" class="btn btn-dark" data-placement="bottom" title="Hinweis schließen"
								(click)="toggleTextFeatureFlagAnzeigen()">
								<i class="fa fa-close" aria-hidden="true"></i>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<p *ngIf="devMode">(teilnahme-card.component - {{teilnahme.identifier.teilnahmenummer}})</p>
</div>
