<div class="row">
	<div class="col-12">
		<div class="card ">
			<div class="card-body col-12">
				<div class="card-title">{{teilnahme.identifier.jahr}}</div>
				<div class="row">
					<div class="card-subtitle text-muted col-sm-12 col-md-9">Anzahl Kinder: {{teilnahme.anzahlKinder}}
					</div>

					<div *ngIf="showDownloadButton" class="col-sm-12 col-md-3">
						<mk-download-button [model]="statistikBtnModel">
						</mk-download-button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<p *ngIf="devMode">(teilnahme-card.component - {{teilnahme.identifier.teilnahmenummer}})</p>
</div>
