<div class="mkv-container mt-1">
	<div class="col-12">
		<h2><span *ngIf="(selectedKlasse$ | async) as klasse">{{klasse.name}}: </span>Kinder <span *ngIf="anzahlKinder$ | async as anzahl" class="badge badge-secondary">{{anzahl}}</span></h2>
		<p *ngIf="devMode">(kinder-list.component)</p>


		<ng-container *ngIf="(veranstalter$ | async) as veranstalter else kinderBlockiert">
			<ng-container  *ngIf="(kinder$ | async) as kinder">
				<div class="col-md-12 mt-1 mb-1" *ngFor="let kind of kinder">
					<mkv-kind-details [kind]="kind"></mkv-kind-details>
				</div>
			</ng-container>
		</ng-container>

		<ng-container *ngIf="(selectedKlasse$ | async) as kl">
			<div *ngIf="kl && kl.anzahlKinderZuPruefen > 0">								
				<mkv-klasse-geprueft [klasseID]="kl.uuid"></mkv-klasse-geprueft>
			</div>
		</ng-container>

		<div class="btn-group d-flex" role="group">
			<button class="btn btn-primary w-100 ml-1" (click)="addKind()"><i class="fa fa-plus"
					aria-hidden="true"></i>neues Kind</button>

			<button class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"><i class="fa fa-arrow-left"
					aria-hidden="true"></i>{{labelBtnCancel}}</button>
		</div>
	</div>
</div>

<ng-template #kinderBlockiert>
	<div class="text-muted col-sm-12 col-md-9">
		Die Kinder werden nicht angezeigt (Softwarefehler, kann man nichts machen). Click auf "Übersicht" könnte helfen</div>
</ng-template>
