* {
  /** box content wird automatisch so berechnet, dass width und height konstant bleiben */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /*width: 90%;*/
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.main {
  margin-top: 30px
}

button {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

button>i {
  margin-right: 5px;
}

.hinweis {
  background-color: #ffffcc;
  /*font-size: 1.1rem;*/
}

.mkv-bordered {
  border: 1px solid gray;
  border-radius: 4px;
}

.conditionally-bordered {
  border: 0px solid gray;
  border-radius: 4px;
}

.mkv-container-elevated {
  border: 1px solid gray;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.mkv-container {
  margin: 10px 5px 10px 5px;
  padding: 10px 5px 10px 5px;
}

.card-title {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
  overflow: hidden;
}

.clickabe-stacked {
  width: 100%;
}

.clickable div:hover {
  background-color: #e6e6e6;
}

footer {
  position: relative;
  margin-top: 350px;
  background-color: #e5e6e6;
  padding: 5px 10px 5px 10px;
}

.loesungszettelrow {
  max-width: 70%;
}

.checkbox-text {
  font-size: 2rem;
  font-weight: bold;
}

.cell {
  background: white;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}


.cell:hover {
  border: 2px solid red;
  border-radius: 4px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .checkbox-text {
    font-size: 1rem;
    font-weight: bold;
  }

  .cell {
    background: white;
    border: 1px solid black;
  }

}
