<div class="mkv-container mt-1">
    <h1>Statistik (aktueller Wettbewerb)</h1>

    <p>Es gab breaking changes mit ngb-accordion, so dass dies hier nicht mehr funktioniert. Wollen diese Anwendung aber
        ohnehin neu aufsetzen.</p>

    <div ngbAccordion #statistikAccordeon="ngbAccordion" type="dark" (panelChange)="beforeChange($event)">
        <div ngbAccordionItem="KINDER">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Kinder</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div *ngIf="statistikFacade.statistikKinder$ | async as expandedGruppeninfo">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">Gesamt: {{expandedGruppeninfo.anzahlElemente}}</div>
                                <div class="col-md-2 col-sm-12">
                                    <button class="btn btn-outline-dark"
                                        (click)="reloadContent('KINDER')">aktualisieren</button>
                                </div>
                            </div>
                            <mka-gruppeninfo-details [gruppeninfo]="expandedGruppeninfo"></mka-gruppeninfo-details>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>

        <div ngbAccordionItem="DOWNLOADS">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Downloads</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div *ngIf="statistikFacade.statistikDownloads$ | async as expandedGruppeninfo">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">Gesamt: {{expandedGruppeninfo.anzahlElemente}}</div>
                                <div class="col-md-3 col-sm-12">
                                    <button class="btn btn-outline-dark"
                                        (click)="reloadContent('DOWNLOADS')">aktualisieren</button>
                                </div>
                            </div>
                            <mka-gruppeninfo-details [gruppeninfo]="expandedGruppeninfo"></mka-gruppeninfo-details>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>

        <div ngbAccordionItem="LOESUNGSZETTEL">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Lösungszettel</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div *ngIf="statistikFacade.statistikLoesungszettel$ | async as expandedGruppeninfo">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">Gesamt: {{expandedGruppeninfo.anzahlElemente}}</div>
                                <div class="col-md-2 col-sm-12">
                                    <button class="btn btn-outline-dark"
                                        (click)="reloadContent('LOESUNGSZETTEL')">aktualisieren</button>
                                </div>
                            </div>
                            <mka-gruppeninfo-details [gruppeninfo]="expandedGruppeninfo"></mka-gruppeninfo-details>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>