<mkv-aktuelle-meldung *ngIf = "aktuelleMeldungNichtLeer$ | async"></mkv-aktuelle-meldung>

<mkv-wettbewerb-info></mkv-wettbewerb-info>

<div class="mkv-container mkv-bordered">

	<div class="col-md-12 mb-2 ml-0 pl-1">
		Um sich zum Minikänguru-Wettbewerb zu registrieren: Wenn Sie bereits ein Konto haben, loggen Sie sich bitte ein.
		Wenn nicht, legen Sie bitte ein Konto an.
	</div>
	<div class="col-md-12 mb-2 ml-0 pl-1">
		Anmelden können sich Grundschulen, Vereine, Institutionen und Privatpersonen. Von diesen kann eine beliebige
		Anzahl Kinder teilnehmen, also auch einzelne Kinder. Es müssen nicht ganze Klassen teilnehmen.
	</div>
	<div class="col-md-12 mb-2 ml-0 pl-1">
		Die Teilnahme ist kostenlos.
	</div>
	<div class="col-md-12 mb-2 ml-0 pl-1">
		Bei Privatteilnahmen genügt ein Privatkonto. Es kann für mehrere Kinder verwendet werden.
	</div>
	<div class="col-md-12  mb-2 ml-0 pl-1">
		Bitte nutzen Sie die <a href="https://mathe-jung-alt.de/minikaenguru/archiv.html" target="_blank">Aufgaben</a> der vergangenen Jahre, um die Kinder auf den Wettbewerb vorzubereiten.
	</div>


</div>

<div class="mkv-container mkv-bordered">

	<div class="col-md-12 mb-2 ml-0 pl-1">
		Aktuelle Version ist 0.2.7. Bitte einmal die Seite komplett neu laden (Strg + F5), falls Sie in der Fußleiste eine andere Version angezeugt bekommen.
	</div>
</div>
