<h1>Minikänguru in Bildern und Zahlen</h1>
<p>
    Hier entsteht eine Webseite, die Statistiken für den <a
        href="https://mathe-jung-alt.de/minikaenguru">Minikänguru-Wettbewerb</a>
    hübsch aufbereitet zur Verfügung stellen wird.
</p>
<p>Aktuell befindet sich die Anwendung noch in der Entwicklung.</p>

<p>Infos über diese Anwendung: <a href="https://mathe-jung-alt.de/mkbiza-api/about" target="_blank">About (ist JSON)</a>
</p>

<p>
    <a href="https://mathe-jung-alt.de/impressum.html">Impressum</a>
</p>