<div class="mkv-container mt-1">
	<div class="col-12">

		<h3><span *ngIf="schule">{{schule.name}}</span> <span *ngIf="devMode">({{schule?.kuerzel}})</span> Klassen <span
				*ngIf="(klassenFacade.anzahlKlassen$ | async) as anzahl" class="badge badge-secondary">{{anzahl}}</span>				
		</h3>
		<p *ngIf="devMode">(klassen-list.component)</p>

		<ng-container *ngIf="(klassenFacade.klassen$ | async) as klassen">

			<div class="col-12 mt-1 mb-1 " *ngFor="let klasse of klassen">
				<mkv-klasse-details [klasse]="klasse"></mkv-klasse-details>
			</div>
		</ng-container>

		<div class="d-none d-md-block">
			<div class="btn-group d-flex" role="group">
				<button *ngIf="schule" class="btn btn-primary w-100 ml-1" title="Laden Sie Ihre Klassen als Excel/Open Office hoch" 
					(click)="gotoUploadKlassenlisten()">
					<i class="fa fa-upload" aria-hidden="true"></i>Klassenlisten hochladen</button>

				<button class="btn btn-primary w-100 ml-1" (click)="addKlasse()"><i class="fa fa-plus"
						aria-hidden="true"></i>neue Klasse</button>

				<button *ngIf="anzahlLoesungszettel > 0" class="btn btn-success w-100 ml-1"
					(click)="gotoSchulauswertung()"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Urkunden
					generieren</button>

				<ng-container *ngIf="anzahlKinder > 0 && (klassenFacade.anzahlKlassen$ | async) as anzahl">
					<button *ngIf="anzahl > 0" class="btn btn-danger w-100 ml-1"
						(click)="deleteKlassen()"><i class="fa fa-trash" aria-hidden="true"></i>alle Klassen löschen</button>				
				</ng-container>
	
				<ng-container *ngIf="anzahlKinder === 0 && (klassenFacade.anzahlKlassen$ | async) as anzahl">
					<button *ngIf="anzahl > 0" class="btn btn-primary w-100 ml-1"
						(click)="forceDeleteKlassen()"><i class="fa fa-trash" aria-hidden="true"></i>alle Klassen löschen</button>				
				</ng-container>

				<button *ngIf="schule" class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"
					title="{{tooltipBtnSchuluebersicht}}"><i class="fa fa-arrow-left"
						aria-hidden="true"></i>Schulübersicht</button>
			</div>
		</div>
		<div class="d-md-none d-lg-none d-xl-none">
			<div class="btn-group d-inline" role="group">

				<button *ngIf="schule" class="btn btn-primary w-100 ml-1"  title="Laden Sie Ihre Klassen als Excel/Open Office hoch"
					(click)="gotoUploadKlassenlisten()">
					<i class="fa fa-upload" aria-hidden="true"></i>Klassenlisten hochladen</button>
		
		
				<button class="btn btn-primary w-100 ml-1" (click)="addKlasse()"><i class="fa fa-plus"
						aria-hidden="true"></i>neue Klasse</button>

				<button *ngIf="anzahlLoesungszettel > 0" class="btn btn-success w-100 ml-1"
					(click)="gotoSchulauswertung()"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Urkunden
					generieren</button>

				<ng-container *ngIf="anzahlKinder > 0 && (klassenFacade.anzahlKlassen$ | async) as anzahl">
					<button *ngIf="anzahl > 0" class="btn btn-danger w-100 ml-1"
						(click)="deleteKlassen()"><i class="fa fa-trash" aria-hidden="true"></i>alle Klassen löschen</button>
				</ng-container>

				<ng-container *ngIf="anzahlKinder === 0 && (klassenFacade.anzahlKlassen$ | async) as anzahl">
					<button *ngIf="anzahl > 0" class="btn btn-primary w-100 ml-1"
						(click)="forceDeleteKlassen()"><i class="fa fa-trash" aria-hidden="true"></i>alle Klassen löschen</button>
				</ng-container>

				<button *ngIf="schule" class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"
					title="{{tooltipBtnSchuluebersicht}}"><i class="fa fa-arrow-left"
						aria-hidden="true"></i>Schulübersicht</button>
			</div>
		</div>
	</div>
</div>

<ng-template #loeschenWarndialog let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Alle Klassen löschen</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p><strong>Sind Sie sicher, dass Sie alle Klassen der Schule {{schule?.name}} löschen möchten?</strong></p>
		<p>Alle Kinder und alle Daten der Kinder werden vollständig gelöscht. <span class="text-danger">Das kann nicht
				rückgängig
				gemacht werden.</span></p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('nein')">besser nicht löschen</button>
		<button type="button" class="btn btn-danger" (click)="modal.close('ja')">löschen</button>
	</div>
</ng-template>
