<div class="mkv-container mt-1">
	<div class="col-12">

		<h3><span *ngIf="schule">{{schule.name}}</span> Klassen <span *ngIf="(anzahlKlassen$ | async) as anzahl"
				class="badge badge-secondary">{{anzahl}}</span>
		</h3>
		<p *ngIf="devMode">(kinder-list.component)</p>

		<ng-container *ngIf="(klassen$ | async) as klassen else loading">

			<div class="col-12 mt-1 mb-1 " *ngFor="let klasse of klassen">
				<mkv-klasse-details [klasse]="klasse"></mkv-klasse-details>
			</div>
		</ng-container>


		<div class="btn-group d-flex" role="group">
			<button class="btn btn-primary w-100 ml-1" (click)="addKlasse()"><i class="fa fa-plus"
					aria-hidden="true"></i>neue Klasse</button>

			<button class="btn btn-primary w-100 ml-1" (click)="gotoSchulauswertung()"><i class="fa fa-graduation-cap"
					aria-hidden="true"></i>Urkunden generieren</button>

			<button *ngIf="schule" class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"
				title="{{tooltipBtnSchuluebersicht}}"><i class="fa fa-arrow-left"
					aria-hidden="true"></i>Schulübersicht</button>

			<button class="btn btn-primary w-100 ml-1" (click)="gotoMeineSchulen()"><i class="fa fa-building-o"
					aria-hidden="true"></i>meine Schulen</button>
		</div>
	</div>
</div>

<ng-template #loading>
	<h3>Klassen</h3>
	Lade Klassen... <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
</ng-template>
