<div class="mkv-container mt-5">
	<div *ngIf="teilnahmenFacade.selectedAnmeldung$| async as anmeldungen">
		<ng-container *ngIf="!anmeldungen.loading else loading">
			<h3>Teilnahmen am Wettbewerb {{anmeldungen.wettbewerbsjahr}}</h3>
			<div>
				<div class="mkv-bordered">
					<div class="mt-1 ml-1 mb-2" *ngFor="let median of anmeldungen.mediane">
						<mkod-median [median]=median></mkod-median>
					</div>
				</div>

				<h4>insgesamt</h4>
				<div class="col-md-12 mt-1 mb-1 mb-2">
					<mkod-teilnahmen-card [anmeldungsitem]="anmeldungen.privatanmeldungen"></mkod-teilnahmen-card>
				</div>
				<div class="col-md-12 mt-1 mb-1 mb-2">
                    <mkod-teilnahmen-card [anmeldungsitem]="anmeldungen.schulanmeldungen"></mkod-teilnahmen-card>
				</div>

				<h4>nach Ländern</h4>
				<div class="col-md-12 mt-1 mb-1 mb-2" *ngFor="let land of anmeldungen.laender">
                    <mkod-teilnahmen-card [anmeldungsitem]="land"></mkod-teilnahmen-card>
				</div>
			</div>
		</ng-container>
	</div>
</div>
<ng-template #loading>
	<h3>Anmeldungen</h3>
	Bitte warten... <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
</ng-template>

