<div class="mkv-container mt-1">
	<ng-container *ngIf="loading$ | async">
		<h2>Übersicht</h2>
		<div class="col-12">
			Lade Daten... <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
		</div>
	</ng-container>


	<div *ngIf="aktuellerWettbewerb$ | async as wettbewerb">
		<div *ngIf="privatveranstalter$ | async as veranstalter">

			<h2>Übersicht <span *ngIf="veranstalter.aktuellAngemeldet" class="ml-1 badge badge-success">angemeldet
					für {{wettbewerb.jahr}}</span></h2>

			<h3 *ngIf="wettbewerb.status === 'ERFASST'">Beginn Anmeldezeitraum für {{wettbewerb.jahr}}:
				{{wettbewerb.wettbewerbsbeginn}}</h3>

			<div class="row mt-2 ml-2 mr-2">

				<div *ngIf="veranstalter.aktuellAngemeldet" class="col-md-4 col-sm-12 mt-2">
					<ng-container *ngIf="aktuelleTeilnahmeGeladen$ | async as geladen">
						<ng-container *ngIf="geladen">
							<div class="card clickable" (click)="gotoAuswertung()">
								<div class="card-body">
									<div class="card-title">Auswertung {{wettbewerb.jahr}}</div>
									<div class="mb-2 text-muted">Kind(er) erfassen und Urkunde(n) generieren</div>
								</div>
							</div>
						</ng-container>
					</ng-container>
				</div>
				<div *ngIf="!veranstalter.aktuellAngemeldet" class="col-md-4 col-sm-12 mt-2">
					<div *ngIf="wettbewerb.status !== 'ERFASST' && wettbewerb.status !== 'BEENDET'">
						<div class="card clickable" (click)="anmelden()">
							<div class="card-body">
								<div class="card-title">Anmelden</div>
								<div class="mb-2 text-muted"> für {{wettbewerb.jahr}}</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="veranstalter.hatZugangZuUnterlangen" class="col-md-4 col-sm-12 mt-2">
					<div class="card clickable" (click)="gotoDownloadUnterlagen()">
						<div class="card-body">
							<div class="card-title">Unterlagen {{wettbewerb.jahr}}</div>
							<div class="mb-2 text-muted">Aufgaben herunterladen</div>
						</div>
					</div>
				</div>
				<div *ngIf="veranstalter.anzahlTeilnahmen > 0" class="col-md-4 col-sm-12 mt-2">
					<div class="card clickable" (click)="gotoTeilnahmen()">
						<div class="card-body">
							<div class="card-title">alle Teilnahmen <span
									class="ml-1 badge badge-primary">{{veranstalter.anzahlTeilnahmen}}</span>
							</div>
							<div class="mb-2 text-muted">Statistiken</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row ml-2 mr-2 ">
				<div class="col-md-4 col-sm-12 mt-1">
					<div class="card clickable" (click)="changeAboNewsletter()">
						<div class="card-body">
							<div *ngIf="veranstalter.newsletterAbonniert">
								<div class="card-title">Newsletter <span
										class="ml-1 badge badge-success">abonniert</span></div>
								<div class="mb-2 text-muted">Newsletter
									abbestellen</div>
							</div>
							<div *ngIf="!veranstalter.newsletterAbonniert">
								<div class="card-title">Newsletter <span class="ml-1 badge badge-secondary">nicht
										abonniert</span></div>
								<div class="mb-2 text-muted">Newsletter
									abonnieren</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-12 mt-2">
					<div class="card clickable" (click)="gotoProfil()">
						<div class="card-body">
							<div class="card-title">Mein Profil</div>
							<div class="mb-2 text-muted">Name, Mailadresse, Passwort ändern</div>
							<div class="mb-2 text-danger">Achtung: hierfür werden Sie ausgeloggt.</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 mt-2">
					<div class="card clickable" (click)="gotoInfos()">
						<div class="card-body">
							<div class="card-title">Infos</div>
							<div class="mb-2 text-muted">Informationen über den Wettbewerb</div>
							<div *ngIf="!veranstalter.hatZugangZuUnterlangen" class="mb-2 text-muted">
								Warum sehe ich die
								Aufgaben nicht?</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="textFeatureFlagAnzeigen" class="row ml-3 mr-3 mt-3 hinweis">
		<div class="col-11">
			<div class="mkv-boardered">{{textFeatureFlag}}</div>
		</div>
		<div class="col-1">
			<button type="button" class="btn btn-dark" data-placement="bottom" title="Hinweis schließen"
				(click)="toggleTextFeatureFlagAnzeigen()">
				<i class="fa fa-close" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<p *ngIf="devMode">(privat-dashboard.component)</p>
</div>
