<div class="mkv-container mt-5">
	<p *ngIf="devMode">(veranstalter-list.component)</p>
	<div *ngIf="sucheFinished$ | async">
		<ng-container *ngIf="(veranstalters$ | async) as veranstalters">

			<p>Anzahl Treffer: {{veranstalters.length}}</p>
			<div class="row">
				<div *ngFor="let veranstalter of veranstalters" class="col-sm-12 col-md-4 mb-3">
					<mka-veranstalter-card [veranstalter]="veranstalter"></mka-veranstalter-card>
				</div>
			</div>

			<button *ngIf="veranstalters.length > 0" type="submit" class="btn btn-success"
				(click)="listeLeeren()">leeren</button>
		</ng-container>
	</div>
	<mka-veranstalter-nav></mka-veranstalter-nav>
</div>
