@if (images.imageFrage !== null) {
<div class="bordered bg-white">
    <img src="data:image/png;base64,{{images.imageFrage}}" class="mja-image" />
</div>
}

@if (images.imageLoesung !== null) {

<div class="mt-1">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Lösung (png)
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="bordered bg-white">
                <img src="data:image/png;base64,{{images.imageLoesung}}" class="mja-image" />
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</div>
}