<mkv-navbar></mkv-navbar>

<cmn-msg></cmn-msg>

<div class="container-fluid">
	<router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<footer>
	<div class="row">
		<div class="col-md-2 col-sm-12 footer-text text-left">&copy; Heike Winkelvo&szlig;</div>
		<div class="col-md-2 col-sm-12 footer-text text-left">
			<a href="https://mathe-jung-alt.de/minikaenguru/datenschutz.html" target="_blank"
				class="btn btn-link">Datenschutz</a>
		</div>
		<div class="col-md-2 col-sm-12 footer-text text-left">
			<a href="https://mathe-jung-alt.de/impressum.html" target="_blank" class="btn btn-link">Impressum</a>
		</div>
		<div class="col-md-4 col-sm-12 footer-text text-left" *ngIf="showEnv">{{envName}}, API: {{api}}</div>
		<div class="col-md-2 col-sm-12 footer-text text-right">Version {{version}}</div>
	</div>
</footer>
