<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Minikänguru</a>
    <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div id="navbarSupportedContent" class="navbar-collapse" [class.collapse]="collapsed"
      (window:resize)="collapsed = true">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
  
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/registrierung" class="link"><span class="fa fa-user-o fa-1x" aria-hidden="true"></span> Konto anlegen</a></li>
        <li routerLinkActive="active">
          <a (click)="login()" class="nav-link"><span
              class="fa fa-sign-in fa-1x" aria-hidden="true"></span> Einloggen <span
              class="sr-only">(current)</span></a></li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fa fa-sign-out fa-1x" aria-hidden="true"></span> Ausloggen</a>
        </li>
      </ul>
    </div>
  </nav>
  
