<nav class="navbar navbar-expand-md navbar-dark navbar-static-top bg-dark header-nav">
	<button class="navbar-toggler d-lg-none" id="navbarToggler" type="button" (click)="collapsed = !collapsed"
		[attr.aria-expanded]="!collapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div id="navbarSupportedContent" class="collapse navbar-collapse" [class.collapse]="collapsed"
		(window:resize)="collapsed = true">
		<ul class="navbar-nav mr-auto">

			<li routerLinkActive="active"><a routerLink="/" (click)="collapseNav()" class="nav-link" title="Startseite">
					Minikänguru <span *ngIf="aktuellerWettbewerb$ | async as wettbewerb">{{wettbewerb.jahr}}</span></a>
			</li>
			<li routerLinkActive="active"><a routerLink="/info" (click)="collapseNav()" class="nav-link"
					title="Informationen über den Wettbewerb">
					<span class="fa fa-info fa-1x" aria-hidden="true"></span> Info</a></li>

		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="nav-link" *ngIf="(user$ | async) as user">Guten Tag, {{user.fullName}}</li>

			<div *ngIf="isLoggedIn$ | async">
				<li routerLinkActive="active"><a routerLink="/dashboard" (click)="collapseNav()" class="nav-link"
						title="Home">
						<span class="fa fa-home fa-1x" aria-hidden="true"></span> Übersicht</a></li>
			</div>
			<div *ngIf="(user$ | async) as user">
				<li *ngIf="user.rolle === 'LEHRER'" routerLinkActive="active"><a routerLink="/schulen"
						(click)="collapseNav()" class="nav-link" title="Schulen">
						<span class="fa fa-building-o fa-1x" aria-hidden="true"></span> Schulen</a></li>
			</div>
			<li *ngIf="isLoggedOut$ | async" routerLinkActive="active"><a routerLink="/registrierung" class="nav-link"
					title="Konto anlegen">
					<span class="fa fa-user-o fa-1x" aria-hidden="true"></span> Konto anlegen </a></li>

			<li *ngIf="isLoggedOut$ | async" routerLinkActive="active">
				<a class="nav-link" (click)="login()"><span class="fa fa-sign-in fa-1x" aria-hidden="true"></span>
					Einloggen <span class="sr-only">(current)</span></a></li>

			<li routerLinkActive="active" *ngIf="isLoggedIn$ | async">
				<a class="nav-link" (click)="logout()"><span class="fa fa-sign-out fa-1x" aria-hidden="true"></span>
					Ausloggen</a>
			</li>
		</ul>

	</div>
</nav>
