<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="card-title">Minikänguru {{wettbewerb.jahr}}
				<span class="ml-1 badge badge-success">{{wettbewerb.status}}</span>
				</div>
			</div>

			<div class="d-none d-md-block">
				<div class="btn-group d-flex" role="group">
					<button *ngIf="showBtnAnmeldungen" class="btn btn-outline-dark w-100 ml-1" (click)="gotoAnmeldungen()">
						Übersicht Anmeldungen</button>
	
					<button *ngIf="!showBtnAnmeldungen" class="btn btn-outline-dark w-100 ml-1" (click)="gotoTeilnahmen()">
						Übersicht Teilnahmen</button>

					<button *ngIf="!showBtnAnmeldungen" class="btn btn-outline-dark w-100 ml-1" (click)="gotoAufgaben()">
							Aufgaben</button>
				</div>
			</div>
	
			<div class="d-md-none d-lg-none d-xl-none">
				<button *ngIf="showBtnAnmeldungen" class="btn btn-outline-dark w-100 ml-1" (click)="gotoAnmeldungen()">
					Übersicht Anmeldungen</button>

				<button *ngIf="!showBtnAnmeldungen" class="btn btn-outline-dark w-100 ml-1" (click)="gotoTeilnahmen()">
					Übersicht Teilnahmen</button>

				<button *ngIf="!showBtnAnmeldungen" class="btn btn-outline-dark w-100 ml-1" (click)="gotoAufgaben()">
						Aufgaben</button>
		</div>
		</div>
	</div>
</div>
