<div class="card">
	<div class="card-body">
		<div class="card-title col-12">{{katalogItem.name}} ({{katalogItem.kuerzel}})
			<span *ngIf="katalogItem.typ !=='SCHULE'" class="ml-1 badge badge-dark">{{anzahlText}}
				{{katalogItem.anzahlKinder}}</span>
		</div>
		<div *ngIf="katalogItem.parent" class="card-subtitle mb-2 text-muted col-12">
			{{katalogItem.parent.name}}
		</div>
		<div *ngIf="katalogItem.parent && katalogItem.parent.parent" class="card-subtitle mb-2 text-muted col-12">
			{{katalogItem.parent.parent.name}}</div>
		<div class="row">
			<div class="col-6">
				<button class="btn btn-outline-dark btn-block" (click)="editItem()">ändern</button>
			</div>
			<div *ngIf="katalogItem.typ !== 'SCHULE'" class="col-6">
				<button class="btn btn-outline-dark btn-block" (click)="openOrSearchChilds()">{{sucheBtnText}}</button>
			</div>
		</div>
	</div>
</div>
