<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="card-title">{{katalogItem.name}} ({{katalogItem.kuerzel}})
					<span *ngIf="katalogItem.typ !=='SCHULE'" class="ml-1 badge badge-dark">{{anzahlText}} {{katalogItem.anzahlKinder}}</span>
				</div>
				<div *ngIf="katalogItem.parent" class="card-subtitle mb-2 text-muted">{{katalogItem.parent.name}}</div>
				<div *ngIf="katalogItem.parent && katalogItem.parent.parent" class="card-subtitle mb-2 text-muted">
					{{katalogItem.parent.parent.name}}</div>
			</div>
		</div>
	</div>
</div>
