<div class="card">
	<p *ngIf="devMode">katalogpflege-item.component</p>
	<div class="card-body">
		<div class="card-title col-12">{{katalogItem.name}} ({{katalogItem.kuerzel}})
			<span *ngIf="katalogItem.typ !=='SCHULE'" class="ml-1 badge badge-dark">{{anzahlText}}
				{{katalogItem.anzahlKinder}}</span>
		</div>
		<div *ngIf="katalogItem.parent" class="card-subtitle mb-2 text-muted col-12">
			{{katalogItem.parent.name}} ({{katalogItem.parent.kuerzel}}) <span class="ml-1 badge badge-dark">{{katalogItem.parent.anzahlKinder}}</span>
		</div>
		<div *ngIf="katalogItem.parent && katalogItem.parent.parent" class="card-subtitle mb-2 text-muted col-12">
		{{katalogItem.parent.parent.name}} ({{katalogItem.parent.parent.kuerzel}}) <span class="ml-1 badge badge-dark">{{katalogItem.parent.parent.anzahlKinder}}</span></div>

		<div class="btn-group d-flex" role="group">

			<button class="btn btn-outline-dark w-100 ml-1" (click)="editItem()">ändern</button>

			<button *ngIf="katalogItem?.typ !== 'SCHULE'" class="btn btn-outline-dark w-100 ml-1" (click)="openOrSearchChilds()">{{sucheBtnText}}</button>
		</div>
	</div>
</div>
