<div class="mkv-container mkv-bordered">
	<div class="col-12">
		<h2>Orte <span *ngIf="selectedKatalogItem$ | async as land">in {{land.name}}</span></h2>
		<div *ngIf="orte$ | async as orte">
			<p>Anzahl Orte: {{orte.length}}</p>

			<div *ngIf="orte.length > 0" class="row">
				<div class="col-md-12 mt-1 mb-1 mb-2" *ngFor="let ort of orte">
					<mka-katalogpflege-item [katalogItem]="ort"></mka-katalogpflege-item>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-3 ml-3 mb-2">
			<button class="btn btn-primary" (click)="addOrt()"><i class="fa fa-plus" aria-hidden="true"></i>neuer
				Ort</button>
		</div>
		<div class="col-sm-12 col-md-3 ml-3 mb-2">
			<button class="btn btn-primary" (click)="gotoKataloge()"><i class="fa fa-arrow-left"
					aria-hidden="true"></i>Kataloge</button>
		</div>
		<div class="col-sm-12 col-md-3 ml-3 mb-2">
			<button class="btn btn-primary" (click)="gotoDashboard()"><i class="fa fa-puzzle-piece"
					aria-hidden="true"></i>Dashboard</button>
		</div>
	</div>
</div>
