<div class="mkv-container mkv-bordered">
	<div class="col-12">
		<h2>{{schule.name}} <span *ngIf="schule.aktuellAngemeldet" class="ml-1 badge badge-success">angemeldet für
				2020</span></h2>
		<p *ngIf="devMode">(schule-dashboard.component)</p>
		<p>{{schule.ort}} - {{schule.land}}</p>
		<p *ngIf="schule.aktuellAngemeldet">Anmeldung 2020 durch {{schule.dashboardModel.angemeldetDurch.fullName}}</p>
		<p>Kollegen: {{kollegium}}</p>
	</div>

	<div class="row">
		<div *ngIf="schule.aktuellAngemeldet" class="col-md-4 col-sm-12">
			<div class="card clickable ml-2 mt-4">
				<div class="card-body">
					<div class="card-title">Auswertung 2020</div>
					<div class="mb-2 text-muted">Kinder erfassen und Urkunden generieren</div>
				</div>
			</div>
		</div>

		<div *ngIf="schule.aktuellAngemeldet" class="col-md-4 col-sm-12">
			<div class="card clickable ml-2 mt-4">
				<div class="card-body">
					<div class="card-title">Auswertungstabelle</div>
					<div class="mb-2 text-muted">Offlineauswertung</div>
					<div class="mb-2 text-muted">
						Excel-Auswertungstabelle hochladen</div>
				</div>
			</div>
		</div>

		<div *ngIf="!schule.aktuellAngemeldet" class="col-md-3 col-sm-12">
			<div class="card clickable ml-2 mt-4">
				<div class="card-body">
					<div class="card-title">Anmelden </div>
					<div class="mb-2 text-muted">für 2020</div>
				</div>
			</div>
		</div>

	</div>


	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="card clickable ml-2 mt-4">
				<div class="card-body">
					<div class="card-title">Teilnahmen <span
							class="ml-1 badge badge-primary">{{schule.dashboardModel.anzahlTeilnahmen}}</span></div>
					<div class="mb-2 text-muted">Schulstatistiken</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-sm-12 mt-4">
			<div class="card clickable ml-2">
				<div class="card-body">
					<div class="card-title">DSGVO</div>
					<div class="mb-2 text-muted">Vertrag zur Auftragsdatenverarbeitung</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3 mt-4">
		<button class="btn btn-primary" (click)="backToSchulen()"><i class="fa fa-arrow-left" aria-hidden="true"></i>zurück zu
			Schulen</button>
	</div>
</div>
