<div class="mkv-container mt-5 conditionally-bordered">
	<ng-container *ngIf="aktuellerWettbewerb$ | async as wettbewerb" class="ml-2 mt-3">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				Beginn Anmeldezeitraum:
			</div>
			<div class="col-md-6 col-sm-12">
				{{wettbewerb.wettbewerbsbeginn}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12">
				Bereitstellung Unterlagen für Lehrerinnen und Lehrer:
			</div>
			<div class="col-md-6 col-sm-12">
				{{wettbewerb.datumFreischaltungLehrer}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12">
				Bereitstellung Unterlagen bei Privatanmeldung:
			</div>
			<div class="col-md-6 col-sm-12">
				{{wettbewerb.datumFreischaltungPrivat}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12">
				Wettbewerbsende:
			</div>
			<div class="col-md-6 col-sm-12">
				{{wettbewerb.wettbewerbsende}}
			</div>
		</div>

		<div class="row hinweis">
			<div class="col-md-6 col-sm-12">
				Anleitung für diese Anwendung:
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="https://mathe-jung-alt.de/minikaenguru/anleitungen/anleitung-fuer-schulen.pdf" target="_blank">PDF</a>
			</div>
		</div>
	</ng-container>
	<div *ngIf="isLoggedIn$ | async" class="row">
		<div class="col-sm-12 col-md-3 ml-2 mb-2 mt-2">
			<button class="btn btn-primary" (click)="gotoDashboard()"><i class="fa fa-arrow-left"
					aria-hidden="true"></i>zur Übersicht</button>
		</div>
	</div>
</div>
