<h2>Mediane</h2>
<p>Der Median gibt die Punktzahl an, die 50% der Kinder erreicht haben. </p>
<p>Maximal können folgende Punkte erreicht werden: Inklusion - 36, Klasse 1 - 60, Klasse 2 - 75</p>
<p>Erst seit 2017 gab es für die Klassen 1 und 2 getrennte Aufgaben. Vorher lösten die Erstklässler die Aufgaben für die Klasse 2.</p>
<p>Im Jahr 2020 lösten die Kinder pandemiebedingt die Aufgaben zu Hause.</p>
<canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
</canvas>