<div class="mkv-container mt-1">
	<div class="col-12">
		<h2>Wettbewerbe</h2>
		<p *ngIf="devMode">(wettbewerbe-list.component)</p>
		<ng-container *ngIf="(wettbewerbe$ | async) as wettbewerbe">
			<div class="col-md-12 mt-1 mb-1 mb-2" *ngFor="let wettbewerb of wettbewerbe">
				<mka-wettbewerb-card [wettbewerb]="wettbewerb"></mka-wettbewerb-card>
			</div>
		</ng-container>
	</div>
	<div class="btn-group d-flex" role="group">
		<button class="btn btn-primary w-100 ml-1" (click)="addWettbewerb()"><i class="fa fa-plus" aria-hidden="true"></i>neuer
			Wettbewerb</button>

		<button class="btn btn-primary w-100 ml-1" (click)="gotoDashboard()"><i class="fa fa-arrow-left"
				aria-hidden="true"></i>Dashboard</button>
	</div>
</div>
