<div class="modal-header">
	<h4 class="modal-title" id="modal-title">{{titel}}</h4>
	<button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p>{{question}}</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" (click)="cancel()">{{cancelLabel}}</button>
	<button type="button" class="btn btn-danger" (click)="save()">{{okLabel}}</button>
</div>
