.loesungszettel-text {
	font-size: 1.5em;
	font-weight: 200;
}

.loesungszettelrow {
	width: 100%;
	background-color: bisque;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .loesungszettel-text {

	font-size: 1em;
  }
}
