<div *ngIf="wettbewerbFacade.aktuellerWettbewerb$ | async as wettbewerb">
	<div class="card">
		<div class="card-body">
			<div class="card-title">Unterlagen {{wettbewerb.jahr}}

				<div class="btn-group d-flex" role="group">
					<mk-unterlagen [downloadUrl]="unterlagenDeutschUrl" [userIdRef]="userIdRef" [sprache]="'deutsch'">
					</mk-unterlagen>
					<mk-unterlagen [downloadUrl]="unterlagenEnglischUrl" [userIdRef]="userIdRef" [sprache]="'englisch'">
					</mk-unterlagen>
				</div>
			</div>
		</div>
	</div>
</div>
