<div *ngIf="wettbewerbFacade.aktuellerWettbewerb$ | async as wettbewerb">

	<div class="card hinweis">
		<div class="card-body">
			<div class="card-title mb-4">Unterlagen {{wettbewerb.jahr}}

				<div class="row" role="group">
					<mk-unterlagen [downloadUrl]="unterlagenDeutschUrl" [userIdRef]="userIdRef" [sprache]="'deutsch'">
					</mk-unterlagen>
					<mk-unterlagen [downloadUrl]="unterlagenEnglischUrl" [userIdRef]="userIdRef" [sprache]="'englisch'">
					</mk-unterlagen>
				</div>
			</div>
		</div>
	</div>
</div>
