<div class="mkv-container mt-1">
	<div class="col-12">
		<h2>Meine Schulen</h2>
		<p *ngIf="devMode">(schulen-list.component)</p>
		<ng-container *ngIf="(lehrerFacade.schulen$ | async) as schulen">
			<div class="col-md-12 mt-1 mb-1 mb-2" *ngFor="let schule of schulen">
				<mkv-schule-card [schule]="schule.schule"></mkv-schule-card>
			</div>
		</ng-container>
	</div>

	<div class="d-none d-md-block">
		<div class="btn-group d-flex" role="group">

			<button class="btn btn-primary w-100" (click)="addSchule()"
				title="als Lehrer:in an einer weiteren Schule anmelden"><i class="fa fa-plus"
					aria-hidden="true"></i>weitere
				Schule</button>

			<button class="btn btn-primary w-100" (click)="gotoDashboard()"><i class="fa fa-home"
					aria-hidden="true"></i>zur
				Übersicht</button>
		</div>
	</div>

	<div class="d-md-none d-lg-none d-xl-none">
		<button class="btn btn-primary w-75" (click)="addSchule()"
			title="als Lehrer:in an einer weiteren Schule anmelden"><i class="fa fa-plus" aria-hidden="true"></i>weitere
			Schule</button>

		<button class="btn btn-primary w-75" (click)="gotoDashboard()"><i class="fa fa-home" aria-hidden="true"></i>zur
			Übersicht</button>
	</div>



	<div *ngIf="textFeatureFlagAnzeigen" class="row ml-3 mr-3 hinweis">
		<div class="col-11">
			<div class="mkv-bordered">{{textFeatureFlag}}</div>
		</div>
		<div class="col-1">
			<button type="button" class="btn btn-dark" data-placement="bottom" title="Hinweis schließen"
				(click)="toggleTextFeatureFlagAnzeigen()">
				<i class="fa fa-close" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>