<div class="mkv-container mt-5">
	<div *ngIf="anmeldungenFacade.anmeldungenState$ | async as anmeldungen">
		<ng-container *ngIf="!anmeldungen.loading else loading">
				<h3>Anmeldungen zum Wettbewerb {{anmeldungen.wettbewerbsjahr? anmeldungen.wettbewerbsjahr : ''}}</h3>
				<div *ngIf="anmeldungen.statusWettbewerb === 'ERFASST'">
					<p>Der Anmeldungszeitraum hat noch nicht begonnen. Es liegen noch keine Daten vor</p>
				</div>
				<div *ngIf="anmeldungen.statusWettbewerb === 'BEENDET'">
					<p>Der Wettbewerb ist beendet. Die Daten finden Sie unter Gesamtauswertung
						{{anmeldungen.wettbewerbsjahr}}</p>
				</div>
				<div
					*ngIf="anmeldungen.statusWettbewerb === 'ANMELDUNG' || anmeldungen.statusWettbewerb === 'DOWNLOAD_LEHRER' || anmeldungen.statusWettbewerb === 'DOWNLOAD_PRIVAT'">
					<div class="col-md-12 mt-1 mb-1 mb-2">
						<mkod-anmeldungsitem-card [anmeldungsitem]="anmeldungen.privatanmeldungen">
						</mkod-anmeldungsitem-card>
					</div>
					<div class="col-md-12 mt-1 mb-1 mb-2">
						<mkod-anmeldungsitem-card [anmeldungsitem]="anmeldungen.schulanmeldungen">
						</mkod-anmeldungsitem-card>
					</div>

					<div class="col-md-12 mt-1 mb-1 mb-2" *ngFor="let land of anmeldungen.laender">
						<mkod-anmeldungsitem-card [anmeldungsitem]="land">
						</mkod-anmeldungsitem-card>
					</div>
				</div>
		</ng-container>
	</div>
</div>
<ng-template #loading>
	<h3>Anmeldungen</h3>
	Bitte warten... <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
</ng-template>
