ENV=dev
STAGE=dev

#=============================================================================================#
#        RestClients                                                                              #
#=============================================================================================#

QUARKUS_REST_CLIENT_MJAAPI_URL=http://localhost:9210/mja-api
QUARKUS_REST_CLIENT_MKGATEWAY_URL=http://localhost:9510/mk-gateway


#=============================================================================================#
#        _TEST_                                                                               #
#=============================================================================================#

QUARKUS_HTTP_TEST_TIMEOUT=1m

