* {
  /** box content wird automatisch so berechnet, dass width und height konstant bleiben */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #143055;
  color: white;
  padding: 5px;
  border-radius: 3px;
}


.main {
  margin-top: 30px;
  padding: 0 36px;
}

button {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

button>i {
  margin-right: 5px;
}

.mkv-bordered {
  border: 1px solid gray;
  border-radius: 4px;
}

.mkv-container-elevated {
  border: 1px solid gray;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.mkv-container {
  margin-top: 10px;
  align-content: center;
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-text {
	margin-left: 10px;
}

.clickable {
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
}

.clickable div:hover {
  background-color: #e6e6e6;
}


footer {
  position: relative;
  margin-top: 250px;
  background-color: #e5e6e6;
  padding: 5px 10px 5px 10px;
}

/* =========== zu Testzwecken ================= */
.irgendwas-bordered-red {
  border: 1px solid red;
}

;

.irgendwas-bordered-blue {
  border: 1px solid blue;
}

;



/* Extra small devices (phones, 600px and down) */
/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

  .h4,
  body {
    font-size: 1rem;
  }

  .header-3,
  .hinweis {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .checkbox-text {
    font-size: 1rem;
    font-weight: bold;
  }

  .cell {
    background: white;
    border: 1px solid black;
  }

}

/* Desktops and Laptops */
@media screen and (min-width: 1200px) {
  
  body {
    width: 60%;
  }
}
