<div class="mkv-container mt-1">

	<div class="d-none d-md-block mt-2">
		<div class="row mt-3">
			<div class="col-12 text-center">
				<h1>Minikänguru: Wettbewerbsadministration</h1>
			</div>
		</div>
	</div>
	
	<div class="row d-md-none d-lg-none d-xl-none">
		<div class="row mt-3">
			<div class="col-12 text-center">
				<h1>Minikänguru Admin</h1>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-12 text-center">
			<img src="https://mathe-jung-alt.de/img/mja_logo_2.svg" alt="" aria-role="logo">
		</div>
	</div>

	<div *ngIf="isLoggedOut$ | async" class="row d-md-none d-lg-none d-xl-none">
		<button class="btn btn-secondary w-100 m-5" (click)="login()"><i class="fa fa-sign-in"></i> einloggen </button>
	</div>	
</div>
