@if (domainFacade.selectedKlassenstufe$| async; as klassenstufeGuiModel){

<h1>Minikänguru {{klassenstufeGuiModel.klassenstufeDetails.wettbewerbsjahr}} - {{klassenstufeLabel}}</h1>

<!-- @if (!klassenstufeGuiModel.klassenstufeDetails.beendet) {
<p>Hinweis: der Wettbewerb ist noch nicht beendet. Alle Zahlen sind Momentaufnahmen</p>
<h2>Gesamtbeteiligung: {{klassenstufeGuiModel.klassenstufeDetails.anzahlKinderGesamt}} Kinder</h2>
} -->


@if (klassenstufeGuiModel.klassenstufeDetails.beendet) {
<h2>Gesamtbeteiligung: {{klassenstufeGuiModel.klassenstufeDetails.anzahlKinderGesamt}} Kinder, davon mit voller
    Punktzahl: {{klassenstufeGuiModel.klassenstufeDetails.anzahlKinderMitVollerPunktzahl}}</h2>

<mat-accordion class="mt-2 mb-2">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Statistiken Kinder
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mks-bar-chart [headline]="'Kinder je Land'" [myCanvasId]="'wettbewerb.kinderJeLand'"
            [chartData]=statistics.chartDataKinderJeLand></mks-bar-chart>

        @if (isHandset) {
        <mks-pie-chart [headline]="'Kinder je Sprache'" [myCanvasId]="'klassenstufe.kinderJeSprache'"
            [chartData]=chartDataKinderJeSprache></mks-pie-chart>
        <mks-pie-chart [headline]="'Kinder privat versus Schule'" [myCanvasId]="'klassenstufe.kinderJeTeilnahmeart'"
            [chartData]=chartDataKinderJeTeilnahmeart></mks-pie-chart>

        } @else {
        <div class="grid-container-3 mt-2 mb-2">
            <mks-pie-chart [headline]="'Kinder je Sprache'" [myCanvasId]="'klassenstufe.kinderJeSprache'"
                [chartData]=chartDataKinderJeSprache></mks-pie-chart>
            <mks-pie-chart [headline]="'Kinder privat versus Schule'"
                [myCanvasId]="'klassenstufe.kinderJeTeilnahmeart'"
                [chartData]=chartDataKinderJeTeilnahmeart></mks-pie-chart>

        </div>

        }
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="mt-2 mb-2">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Median und Punktintervalle
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Median und Gesamtpunkte</h2>

        <p>Der Median (Prozentrang 50) ist die mittlere erreichte Punktzahl aller Kinder: die Hälfte aller teilnehmenden
            Kinder
            hat gleich viele oder weniger Punkte erzielt.
        </p>

        <p>Die Aufgaben hatten einen angemessenen Schwierigkeitsgrad, wenn der Median ungeähr 1/3 der maximal
            erreichbaren
            Punktzahl ist.
            Ist er deutlich niedriger waren sie zu schwer, ist er deutlich höher, waren sie zu leicht.</p>

        <mks-bar-chart [headline]="''" [myCanvasId]="'wettbewerb.kinderJeLand'"
            [chartData]=statistics.chartDataMedianUndGesamtpunkte></mks-bar-chart>

        <mks-bar-chart [headline]="'Punktintervalle'" [myCanvasId]="'klassenstufe.punktintervalle'"
            [chartData]=statistics.chartDataKinderJePunktintervall></mks-bar-chart>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="mt-2 mb-2">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Rohpunkte
            </mat-panel-title>
        </mat-expansion-panel-header>

        <table class="material-table">
            <thead>
                <tr>
                    <th>Punkte</th>
                    <th>Anzahl</th>
                    <th>Prozentrang</th>
                </tr>
            </thead>
            <tbody>
                @for (rohpunktitem of klassenstufeGuiModel.klassenstufeDetails.rohpunkte; track $index) {
                <tr [ngClass]="$index % 2 === 0 ? 'even-row' : 'odd-row'">
                    <td>{{ rohpunktitem.punkte }}</td>
                    <td>{{ rohpunktitem.anzahl }}</td>
                    <td>{{ rohpunktitem.prozentrang }}</td>
                </tr>
                }
            </tbody>
        </table>


    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="mt-2 mb-2">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Aufgaben
            </mat-panel-title>
        </mat-expansion-panel-header>
        @for (aufgabe of klassenstufeGuiModel.aufgabenGUIModel; track $index) {
        <div class="section-divider"></div>
        <div class="mt-1 mb-2">
            <mks-aufgabe [aufgabe]=aufgabe
                [anzahlKinder]="klassenstufeGuiModel.klassenstufeDetails.anzahlKinderGesamt"></mks-aufgabe>
        </div>
        }
    </mat-expansion-panel>
</mat-accordion>
} @else {
<!-- nicht beendet -->
<p>Hinweis: der Wettbewerb ist noch nicht beendet. Alle Zahlen sind Momentaufnahmen</p>
<h2>Gesamtbeteiligung: {{klassenstufeGuiModel.klassenstufeDetails.anzahlKinderGesamt}} Kinder</h2>

<mks-bar-chart [headline]="'Kinder je Land'" [myCanvasId]="'wettbewerb.kinderJeLand'"
    [chartData]=statistics.chartDataKinderJeLand></mks-bar-chart>

@if (isHandset) {
<mks-pie-chart [headline]="'Kinder je Sprache'" [myCanvasId]="'klassenstufe.kinderJeSprache'"
    [chartData]=chartDataKinderJeSprache></mks-pie-chart>
<mks-pie-chart [headline]="'Kinder privat versus Schule'" [myCanvasId]="'klassenstufe.kinderJeTeilnahmeart'"
    [chartData]=chartDataKinderJeTeilnahmeart></mks-pie-chart>

} @else {
<div class="grid-container-3 mt-2 mb-2">
    <mks-pie-chart [headline]="'Kinder je Sprache'" [myCanvasId]="'klassenstufe.kinderJeSprache'"
        [chartData]=chartDataKinderJeSprache></mks-pie-chart>
    <mks-pie-chart [headline]="'Kinder privat versus Schule'" [myCanvasId]="'klassenstufe.kinderJeTeilnahmeart'"
        [chartData]=chartDataKinderJeTeilnahmeart></mks-pie-chart>

</div>

}
}

<div class="mt-2">
    <button mat-flat-button color="primary" class="ml-2 mb-2" (click)="gotoWettbewerb()">Minikänguru
        {{klassenstufeGuiModel.klassenstufeDetails.wettbewerbsjahr}}</button>
</div>


}