<div class="mkv-container mt-1">
	<div *ngIf="registrationFacade.registrationReady$ | async">
		<h2>Benutzerkonto anlegen <span *ngIf="devMode">(registration.component)</span> </h2>

		<div class="row">
			<div class="col-10">
				<input type="checkbox" id="newsletterAbonieren" autofocus
					title="bitte wählen, wenn Sie Mailbenachrichtigungen wünschen" [(ngModel)]="newsletterAbonnieren"
					name="newsletter" (onClick)="onNewsletterChanged($event)"> Ja, ich möchte Informationen per Mail erhalten.
			</div>			
			<div *ngIf="!showInfoNewsletter" class="col-2">
				<button type="button" class="btn btn-primary" data-placement="bottom" title="mehr Informationen" (click)="toggleInfoNewsletter()">
					<i class="fa fa-info" aria-hidden="true"></i> Info
				</button>
			</div>
		</div>
		<div *ngIf="showInfoNewsletter" class="row mt-3 ml-1 mr-1 mb-3">
			<div class="col-10">
				<p>{{textNewsletter}}</p>
			</div>
			<div class="col-2">
				<button type="button" class="btn btn-primary" data-placement="bottom" title="weniger Informationen" (click)="toggleInfoNewsletter()" >
					<i class="fa fa-close" aria-hidden="true"></i> Info
				</button>
			</div>
		</div>

		<div *ngIf="!(registrationFacade.registrationMode$ | async)" class="row">
			<div class="col-sm-12 col-md-3">
				<button type="button" class="btn btn-primary btn-block"
					(click)="modusLehrerkonto()">Lehrer/Lehrerin</button>
			</div>
			<div class="col-sm-12 col-md-3">
				<button type="button" class="btn btn-primary btn-block" (click)="privatkontoAnlegen()">privat</button>
			</div>
		</div>
	</div>


	<div *ngIf="(registrationFacade.registrationMode$ | async) && (registrationFacade.registrationMode$ | async) === 'LEHRER'" class="col-12">
		<div *ngIf="registrationFacade.showSchulkatalog$ | async" class="mkv-container mkv-container-elevated">
			<mk-katalog></mk-katalog>
		</div>

		<p *ngIf="selectedKatalogItem">{{selectedKatalogItem.pfad}}</p>
		<div class="row">
			<div class="btn-group d-flex" role="group">
				<button type="button" [disabled]="!selectedKatalogItem || !(registrationFacade.submitState$ | async)" class="btn btn-primary w-100 ml-1"
					(click)="lehrerkontoAnlegen()">Konto anlegen</button>
			</div>
			<div *ngIf="(registrationFacade.registrationMode$ | async) && (registrationFacade.registrationMode$ | async) === 'LEHRER'" class="btn-group d-flex">
				<button type="button" class="btn btn-primary w-100 ml-1" (click)="neueSchulsuche()">neue Suche</button>
			</div>
			<div class="btn-group d-flex">
				<button type="button" class="btn btn-primary w-100 ml-1" (click)="cancel()">abbrechen</button>
			</div>
		</div>
	</div>

</div>
