<div class="mkv-container mt-1">
	<div *ngIf="aktuellerWettbewerb$ | async as wettbewerb">
		<div *ngIf="privatveranstalter$ | async as veranstalter">

			<h2>Übersicht <span *ngIf="veranstalter.aktuellAngemeldet" class="ml-1 badge bg-success">angemeldet
					für {{wettbewerb.jahr}}</span></h2>

			<h3 *ngIf="wettbewerb.status === 'ERFASST'">Beginn Anmeldezeitraum für {{wettbewerb.jahr}}:
				{{wettbewerb.wettbewerbsbeginn}}</h3>

			<div class="row row-cols-1 row-cols-md-3 g-4">
				<div class="col">
					<div *ngIf="userIdRef && hatZugangZuUnterlagen" class="card hinweis">
						<div class="card-body">
							<div class="card-title">Wettbewerbsaufgaben {{wettbewerb.jahr}}</div>
	
							<div class="btn-group d-flex" role="group">
								<mk-unterlagen [downloadUrl]="unterlagenDeutschUrl" [userIdRef]="userIdRef"
									[sprache]="'deutsch'">
								</mk-unterlagen>
								<mk-unterlagen [downloadUrl]="unterlagenEnglischUrl" [userIdRef]="userIdRef"
									[sprache]="'englisch'">
								</mk-unterlagen>
							</div>
						</div>
					</div>	
				</div>

				<div class="col">
					<div *ngIf="veranstalter.aktuellAngemeldet">
						<div *ngIf="wettbewerb.status !== 'BEENDET'" class="card clickable" (click)="gotoAuswertung()">
							<div class="card-body">
								<div class="card-title">Auswertung {{wettbewerb.jahr}}</div>
								<div class="mb-2 text-muted">Kind(er) erfassen und Urkunde(n) generieren</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div *ngIf="!veranstalter.aktuellAngemeldet">
						<div *ngIf="wettbewerb.status !== 'ERFASST' && wettbewerb.status !== 'BEENDET'"
							class="card clickable" (click)="anmelden()">
							<div class="card-body">
								<div class="card-title">Anmelden</div>
								<div class="mb-2 text-muted"> für {{wettbewerb.jahr}}</div>
							</div>
						</div>
					</div>					
				</div>

				<div class="col">
					<div *ngIf="veranstalter.anzahlTeilnahmen > 0" class="card clickable" (click)="gotoTeilnahmen()">
						<div class="card-body">
							<div class="card-title">alle Teilnahmen <span
									class="ml-1 badge bg-primary">{{veranstalter.anzahlTeilnahmen}}</span>
							</div>
							<div class="mb-2 text-muted">Statistiken</div>
						</div>
					</div>					
				</div>

				<div class="col">
					<div class="card clickable" (click)="changeAboNewsletter()">
						<div class="card-body">
							<div *ngIf="veranstalter.newsletterAbonniert">
								<div class="card-title">Newsletter <span class="ml-1 badge bg-success">abonniert</span>
								</div>
								<div class="mb-2 text-muted">Newsletter
									abbestellen</div>
							</div>
							<div *ngIf="!veranstalter.newsletterAbonniert">
								<div class="card-title">Newsletter <span class="ml-1 badge bg-secondary">nicht
										abonniert</span></div>
								<div class="mb-2 text-muted">Newsletter
									abonnieren</div>
							</div>
						</div>
					</div>					
				</div>

				<div class="col">
					<div class="card clickable" (click)="gotoInfos()">
						<div class="card-body">
							<div class="card-title">Infos</div>
							<div class="mb-2 text-muted">Informationen über den Wettbewerb</div>
							<div *ngIf="!veranstalter.hatZugangZuUnterlagen" class="mb-2 text-muted">
								Warum kann ich die Aufgaben nicht herunterladen?</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card clickable" (click)="gotoProfil()">
						<div class="card-body">
							<div class="card-title">Mein Profil</div>
							<div class="mb-2 text-muted">Name, Mailadresse, Passwort ändern</div>
							<div class="mb-2 text-danger">Achtung: hierfür werden Sie ausgeloggt und auf eine andere
								Webseite umgeleitet.</div>
						</div>
					</div>					
				</div>
			</div>			
		</div>
	</div>
	<div *ngIf="textFeatureFlagAnzeigen" class="row ml-3 mr-3 mt-3 hinweis">
		<div class="col-11">
			<div class="mkv-bordered">{{textFeatureFlag}}</div>
		</div>
		<div class="col-1">
			<button type="button" class="btn btn-dark" data-placement="bottom" title="Hinweis schließen"
				(click)="toggleTextFeatureFlagAnzeigen()">
				<i class="fa fa-close" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<p *ngIf="devMode">(privat-dashboard.component)</p>
</div>