<div class="row">
	<div class="col-12">
		<div [style.background-color]="veranstalter.rolle === 'LEHRER' ? '#e3efdc' : '#fff3cd'"
			class="card clickable" (click)="selectVeranstalter()">
			<div class="card-body">
				<div class="card-title">{{veranstalter.fullName}}
					<span *ngIf="veranstalter.newsletterAbonniert" class="ml-1 badge badge-success">newsletter</span>
				</div>
				<div class="card-subtitle text-muted">UUID: {{veranstalter.uuid}}</div>
				<div class="card-subtitle text-muted">Email: {{veranstalter.email}}</div>
				<div class="card-subtitle text-muted">Zugang:
					{{veranstalter.zugangsstatusUnterlagen}}</div>
			</div>
		</div>
	</div>
</div>
