<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="card-title">{{schule.name}}
					<span *ngIf="devMode">({{schule.kuerzel}})</span>
					<ng-container *ngIf="wettbewerb$ | async as wettbewerb">
						<span *ngIf="schule.aktuellAngemeldet" class="ml-1 badge badge-success">angemeldet
							für {{wettbewerb.jahr}}</span>

						<span *ngIf="!schule.aktuellAngemeldet" class="ml-1 badge badge-secondary">noch
							nicht angemeldet für {{wettbewerb.jahr}}</span>
					</ng-container>
				</div>
				<div class="card-subtitle mb-2 text-muted">{{schule.ort}}</div>
				<div class="card-subtitle mb-2 text-muted">
					{{schule.land}}</div>

				<div class="btn-group d-flex" role="group">
					<button class="btn btn-outline-dark w-100 ml-1" (click)="selectSchule()"><i class="fa fa-users"
							aria-hidden="true"></i>
						Schulübersicht</button>

					<button *ngIf="schule.aktuellAngemeldet" class="btn btn-outline-dark w-100 ml-1"
						(click)="gotoAuswertung()" title="Kinder erfassen und Urkunden generieren"><i
							class="fa fa-pencil-square-o" aria-hidden="true"></i>
						Auswertung <span *ngIf="wettbewerb$ | async as wettbewerb"> {{wettbewerb.jahr}}</span></button>

					<button *ngIf="!schule.aktuellAngemeldet" class="btn btn-outline-dark w-100 ml-1" (click)="vonSchuleAbmelden()" title="als Lehrerin/Lehrer von dieser Schule abmelden"><i class="fa fa-trash"
							aria-hidden="true"></i>
						entfernen</button>
				</div>

			</div>
		</div>
	</div>
</div>
<p *ngIf="devMode">(schule-card.component)</p>
