<div class="row">
	<div class="col-12">
		<div class="card ">
			<div class="card-body col-12">
				<div class="card-title">{{teilnahme.identifier.jahr}}</div>

				<div class="row">
					<div class="card-subtitle text-muted col-sm-12 col-md-9">Anzahl Kinder: {{teilnahme.anzahlKinder}}</div>

					<div *ngIf="teilnahme.anzahlKinder > 0" class="col-sm-12 col-md-3">
						<button class="btn btn-block btn-primary" (click)="getStatistic()" title="Statistik erstellen">Statistik</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<p *ngIf="devMode">(privatteilnahme-card.component)</p>
