<div class="mkv-container mt-1">
	<div class="row mt-5">
		<div class="col-12 text-center">
			<h1>Minikänguru: aufbereitete Statistiken ab 2010</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<img src="https://mathe-jung-alt.de/img/mja_logo_2.svg" alt="" aria-role="logo">
		</div>
	</div>

	<div class="mkv-container mt-5 mb-5">

		<div *ngIf="versionService.expectedVersion$ | async as version" class="col-md-12 mb-2 ml-0 pl-1">
			Wenn Sie in der Fußleiste nicht die Version {{version}} sehen, leeren Sie bitte den Browser-Cache.
		</div>

		<div class="card-deck m-3">
			<div class="card clickable" (click)="gotoAnmeldungen()">
				<div class="card-body">
					<div class="card-title">Anmeldungen</div>
					<div class="mb-2 text-muted">Anmeldungen zum aktuellen Wettbewerb</div>
				</div>
			</div>

			<div class="card clickable" (click)="gotoWettbewerbe()">
				<div class="card-body">
					<div class="card-title">Wettbewerbe</div>
					<div class="mb-2 text-muted">Statistiken vergangener Wettbewerbe</div>
				</div>
			</div>
		</div>

	</div>

	<div class="mkv-container conditionally-bordered">

		<div class="col-md-12 mb-2 ml-0 pl-1">
			Momentan gibt es noch keinen automatisierten Abruf von Rohdaten. Wenn Sie diese benötigen, nehmen Sie bitte per Mail Kontakt mit mir auf.
	</div>
</div>
