<div class="mkv-container mt-1">
	<div class="row mt-5">
		<div class="col-12 text-center">
			<h1>Minikänguru: aufbereitete Statistiken ab 2010</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<img src="https://mathe-jung-alt.de/img/mja_logo_2.svg" alt="" aria-role="logo">
		</div>
	</div>

<div class="mkv-container conditionally-bordered">

	<div class="col-md-12 mb-2 ml-0 pl-1">
		Diese Anwendung bietet die Möglichkeit, über die Daten der vergangenen Wettbewerbsjahre ab 2010 aufbereitete Statistiken anzuschauen.
	</div>
	<div class="col-md-12 mb-2 ml-0 pl-1">
		Vorerst gibt es nur die <a routerLink="/anmeldungen"
					title="Anmeldungen zum laufenden Wettbewerb">Anmeldungen</a> für den laufenden Wettbewerb. Weitere Statistiken werden im Laufe der Zeit hinzukommen.
	</div>
	<div class="col-md-12 mb-2 ml-0 pl-1">
		Wenn Sie die Daten selbst verarbeiten wollen, nehmen Sie bitte per Mail Kontakt mit mir auf. Ich stelle dann Exporte im JSON-Format
		zur Verfügung.
	</div>
</div>

<div class="mkv-container">

	<div class="col-md-12 mb-2 ml-0 pl-1 mt-5">
		Aktuelle Version ist 1.5.1. Bitte einmal die Seite komplett neu laden (Strg + F5), falls Sie in der Fußleiste
		eine andere Version angezeigt bekommen.
	</div>
</div>
</div>
